@model Login

@{
	Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Login - Admin Panel</title>

	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/cardPortal.styles.css" asp-append-version="true" />

	<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
</head>
<body>
	<div class="container1">
		<div class="head">
			<div class="logo">
				<span class="material-symbols-outlined">
					shield_person
				</span>
				<h1>ADMIN PANEL</h1>
			</div>

			<h2>LogIn</h2>
		</div>

		<form asp-controller="Login" asp-action="Index" method="post">
			<div>
				<span class="material-symbols-outlined icons">
					mail
				</span>
				<label for="Username">Email Address</label>
			</div>
			
			<input type="email" class="form-control deneme" style="margin-top:5px" asp-for="Username" />

			<div style="margin-top:20px;">
				<span class="material-symbols-outlined icons">
					lock
				</span>
				<label for="Password">Password</label>
			</div>
			<div style="display:flex;margin-bottom:30px;">
				<input type="password" class="form-control" id="passwordInput" style="padding-right:70px;margin-top:5px;" asp-for="Password" />
				<button type="button" id="eye-btn">
					<span class="material-symbols-outlined" style="font-size:18px;">visibility_off</span>
				</button>
			</div>

			<button class="btn btn-primary loginbtn">Login</button>
		</form>

		@if (!ViewData.ModelState.IsValid)
		{
			<div class="alert alert-danger error">
				@foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
				{
					<p>@error.ErrorMessage</p>
				}
			</div>
		}
	</div>
	
	<script src="~/js/loginscript.js"></script>
</body>
</html>


