
:root {
    /*    --color-background: beige;
    --color-text: navy;
    --color-sidebar: white;
    --color-table: white;
    --color-form: rgba(173, 216, 230, 0.8);
    --color-textdark: black;
    --color-dashback: rgb(51, 63, 156);*/
    --color-background: #F3F4F6; /* Arka plan - Açýk gri */
    --color-text: navy; /* Metin rengi - Koyu mavi */
    --color-sidebar: white; /* Sidebar - Beyaz */
    --color-table: white; /* Tablo arka planý - Beyaz */
    --color-form:rgba(216, 237, 252,0.8); /* Form arka planý - Açýk mavi (þeffaf) */
    --color-textdark: white; 
    --color-dashback: rgb(51, 63, 156);
    --color-title:black;
}

.dark-theme-variables {
    --color-background: #121212;
    --color-text: white;
    --color-sidebar: lightgray;
    --color-table: rgb(245, 245, 245);
    --color-form: lightgray;
    --color-textdark: black;
    --color-dashback: lightgray;
    --color-title: white;
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: none;
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: "Calibri";
    font-size: 0.88rem;
    user-select: none;
    overflow-x: hidden;
    color: black;
    background-color: var(--color-background);
}

a {
    text-decoration: none;
    color: var(--color-text);
}

img {
    display: block;
    width: 100%;
    object-fit: cover;
}

h1 {
    font-weight: 800;
    font-size: 1.8rem;
}

h2 {
    font-weight: 600;
    font-size: 1.1rem;
}

h3 {
    font-weight: 500;
    font-size: 1.0rem;
}

.container1 {
    display: grid;
    grid-template-columns: 20rem auto;
    gap: 0;
    width: 96%;
    /*    margin: 0 auto;*/
}

aside {
    min-height: 100vh;
}

    aside .toggle {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        background-color: var(--color-sidebar);
    }

        aside .toggle .logo {
            display: flex;
            gap: 2rem;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 7rem;
            border-bottom-width: 3px;
            border-bottom-color: gray;
            border-bottom-style: solid;
            border-radius: 10px 10px 0 0;
            box-shadow: 0.3rem 0.35rem rgba(132,139, 200, 0.20);
        }

            aside .toggle .logo img {
                width: 4rem;
                height: 3rem;
            }

            aside .toggle .logo h1 {
                position: relative;
                top: 0.2rem;
            }

        aside .toggle .close {
            display: none;
        }

        aside .toggle .sidebar {
            display: flex;
            flex-direction: column;
            align-items: center;
            box-shadow: 0.3rem 0.35rem rgba(132,139, 200, 0.20);
            border-radius: 0 0 10px 10px;
            min-height: 80vh;
            cursor: pointer;
            transition: all 0.3s ease;
            width: 100%;
            gap:1.2rem;
        }

    aside .sidebar:hover {
        box-shadow: none;
    }

    aside .sidebar a {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        height: 6rem;
        width: 100%;
        text-decoration: none;
        transition: all 0.3s ease;
        color: var(--color-text);
        
    }

        aside .sidebar a:hover {
            background-color: var(--color-background);
            opacity: 0.6;
            transition: all 0.3s ease;
        }

        aside .sidebar a:last-child {
            margin-top: 4rem;
            color: red;
        }

        aside .sidebar a h2 {
            position: relative;
            top: 0.2rem;
        }

        aside .sidebar a.activee {
            color: var(--color-textdark);
            background-color: var(--color-text);
            opacity: 0.8;
            border-left: 4px solid red;
        }

        aside .sidebar a:hover span {
            margin-left: 0.6rem;
        }

/*----Main Section CSS---*/
main header .headSection {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 80vw;
    height: 5rem;
    position: absolute;
    top: 21px;
    background-color: var(--color-sidebar);
    box-shadow: 0.3rem 0.35rem rgba(132,139, 200, 0.20);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    z-index: 2;
}

    main header .headSection .menu {
        display: none;
        background-color: var(--color-sidebar);
    }

    main header .headSection .mode {
        display: flex;
        margin-right: 5rem;
        gap: 0.1rem;
        cursor:pointer;
    }

        main header .headSection .mode span {
            border: 1px solid black;
            border-radius: 3px;
            padding: 5px;
            background-color: rgb(51, 63, 156);
            color:white;
        }

        main header .headSection .mode span.activee {
            background-color: beige;
            color: black;
        }

    main header .headSection .profile {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        width: 15rem;
        margin-right: 3rem;
    }

        main header .headSection .profile span {
            font-size: 2.5rem;
        }

main .mainSection {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
    top: 110px;
    margin-bottom: 25px;
    
}
.dataTables_filter label {
    color: var(--color-title);
}
.dataTables_length label {
    color: var(--color-title);
}
.dataTables_info {
    color: var(--color-title);
}

main .mainSection table {
    width: 100%;
    text-align: center;
}

main .mainSection h1 {
    font-style: italic;
    text-align: center;
    margin: 10px 0 20px 0;
    color: var(--color-title);
}

    main .mainSection .title {
        text-decoration: underline;
    }

    main .mainSection .addbtn {
        margin-bottom: 20px;
        padding-left: 30px;
    }

        main .mainSection .addbtn a {
            padding: 8px;
        }
    
    main .mainSection table thead th {
        height: 3rem; 
        font-size: 1rem;
        font-weight: 500;
    }

    main .mainSection table tbody {
        background-color: var(--color-table);
    }

    main .mainSection table tbody tr td:last-child {
       width: 150px;
    }

    /*---Sadece Personel Create Edit için---*/
    main .mainSection .perForm {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 10px 0 20px 100px;
        border-radius: 10px;
        width: 80%;
        min-height: 50vh;
        background-color: var(--color-form);
        padding: 30px 80px;
        box-shadow: 0.3rem 0.35rem rgba(132,139, 200, 0.5);
    }

    main .mainSection .perForm .doubleForm {
        display: flex;
        flex-direction: row;
        gap: 60px;
    }

    main .mainSection .doubleForm label {
        font-size: 1.1rem;
        margin-top: 10px;
    }

    main .mainSection .doubleForm input {
        width: 100%;
        max-width: 380px;
        padding-left: 20px;
        margin: 10px 0 5px 0;
        border-radius: 10px;
    }

    main .mainSection .doubleForm span {
        display: block;
    }

    main .mainSection .perForm button {
        width: 15rem;
        height: 45px;
        margin-top: 25px;
        margin-right: 15px;
        border-radius: 10px;
    }

/*---Sadece Company Create Edit için---*/
main .mainSection .comForm {
    border-radius: 10px;
    width: 60%;
    min-height: 50vh;
    background-color: var(--color-form);
    padding: 30px 80px;
    box-shadow: 0.3rem 0.35rem rgba(132,139, 200, 0.5);
}

main .mainSection .comForm label {
    font-size: 1.1rem;
    margin-top: 10px;
}

main .mainSection .comForm input {
    width: 100%; 
    max-width: 380px;
    padding-left: 20px;
    margin: 10px 0 5px 0;
    border-radius: 10px;
}

main .mainSection .comForm span {
    display: block;
}

main .mainSection .comForm button {
    width: 8rem;
    height: 40px;
    margin-top: 25px;
    margin-right: 15px;
    border-radius:10px; 
}

/*----Home Index--------*/
.containers {
    margin-left: 20px;
    min-height: 3rem;
    font-size: 1.2rem;
}
/*.containers .fontsize{
    font-size:1.3rem;
}

.containers .grid1{
    display:flex;
    flex-direction:column;
    gap:2rem;
    
}
    .containers .grid2 .quantity {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 15px;
        box-shadow: 0.3rem 0.35rem rgba(132,139, 200, 0.20);
        height: 15rem;
        background-color: white;
    }
    .containers .grid2 .quantity h2 {
         text-align: center;
         font-size: 1.2rem;
    }
.containers .grid2 .circles{
    display:flex;
    flex-direction:row;   
    justify-content:center;
    align-items:center;
    gap:3rem;
    margin: 10px 25px;
}

    .containers .grid2 .cnt {
        display: flex;
        width: 7rem;
        height: 7rem;
        background-color: var(--color-dashback);
        border: 5px inset black;
        border-radius: 100px;
        justify-content: center;
        align-items: center;
        transition: transform 1s;
        color: var(--color-textdark);
    }
*/
/*.containers .tables {
    width:100%;
    min-height:15rem;
    background-color: white;
    border-radius:15px;
    box-shadow: 0.3rem 0.35rem rgba(132,139, 200, 0.20);
    table-layout: fixed;
    overflow: auto;
}

.containers .tables h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius:15px;
    border-top-right-radius:15px;
    background-color: var(--color-dashback);
    border-bottom: 3px solid black;
    width: 100%;
    height: 15%;
    color: var(--color-textdark);
}
.containers .tables Table{
    margin-top:10px;
    height:auto;
    

}
.containers .tables Table tr:first-child {
    border-bottom: 2px solid black;
    margin-bottom: 5px;
}
.containers .tables Table tr{
    display: table-row;
    height:30px;
   
}
.containers .tables Table th,td{
    font-size:1rem;
} 
.containers .tables Table td:last-child{
    margin-right:-25px;
}
.containers .grid2{
    display:flex;
    flex-direction:column;
    gap:2rem;
    align-items:center;

}
    .containers .grid2 .activeAdmin {
        background-color: white;
        width: 60%;
        min-height: 10rem;
        border-radius: 15px;
        margin-top: 10px;
        box-shadow: 0.3rem 0.35rem rgba(132,139, 200, 0.20);
    }

.containers .grid2 .activeAdmin h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius:15px;
    border-top-right-radius:15px;
    background-color: var(--color-dashback);
    border-bottom: 3px solid black;
    width: 100%;
    height: 50%;
    color: var(--color-textdark);
    font-size:1.2rem;
}
.containers .grid2 .activeAdmin h1 {
    margin-top:1rem;
    color: black;
}
*/
/*.todolist {
    width: 80%;
    min-height: 25rem;
    background-color: white;
    transform: translateX(7%);
    border-radius: 15px;
    box-shadow: 0.3rem 0.35rem rgba(132,139, 200, 0.20);
    margin-top:2rem;
}
.todolist .todolisthead{
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius:15px;
    border-top-right-radius:15px;
    background-color: var(--color-dashback);
    border-bottom: 3px solid black;
    width: 100%;
    height: 20%;
    color: var(--color-textdark);
}
.todolist .todo{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.todolist .todo1{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    gap:20px;
   
}
.todolist .todo1 textarea{
    padding:20px;
    background-color:lightgray;
    margin-top:15px;
    border-radius:15px;
}

.todolist .todo1 button{
    width:40%;
}

.todolist .todo2{
   border-left:1px solid black;
}
.todolist .todo2 h2{
    text-align:center;
    height:2rem;
    border-bottom:1px solid black;
}
.todolist .todo2 .xbtn{
    display:flex;
    justify-content:center;
    align-items:center;
    width:10px;
    height:20px;
    font-size:0.8rem;
    margin-left:5px;
    
}
*/
/*-------------------Media Queries---------------------*/
/*--------Tablet Mode----------*/
@media screen and (max-width:1200px) {
    .container1 {
        width: 94%;
        grid-template-columns: 7rem auto 1rem;
        gap: 5px;
    }

    aside .toggle .logo {
        display: none;
    }

    aside .toggle .sidebar {
        border-radius: 10px;
        height: auto;
    }

    aside .sidebar a:last-child {
        margin-top: 1rem;
        color: red;
    }

    aside .sidebar a span {
        font-size: 24px;
    }

    aside .sidebar a h2 {
        display: none;
    }

    main .mainSection {
        position: relative;
        top: 100px;
    }

    main header .headSection {
        width: 84vw;
    }

    main .mainSection table {
        width: 100%;
    }

    main .mainSection h1 {
        font-style: italic;
        margin: 5px 0 10px 0;
        font-size: 22px;
    }

    main .mainSection .addbtn {
        margin-bottom: 10px;
        padding-left: 15px;
    }

    main .mainSection .addbtn a {
        padding: 7px;
    }

    main .mainSection table thead th {
        height: 30px;
        font-size: 0.8rem;
        font-weight: 600;
    }

 /*---Sadece Personnel create edit için----*/
    main .mainSection .perForm {
        margin-left: 70px;
        width: 78%;
        min-height: 50vh;
        padding: 30px 80px;

    }

    main .mainSection .perForm .doubleForm {
        gap: 30px;
    }

    main .mainSection .perForm .doubleForm label {
        font-size: 1.1rem;
        margin-top: 8px;
    }

    main .mainSection .perForm .doubleForm input {
        width: 300px;
        margin: 10px 0 5px 0;
    }

    main .mainSection .perForm .perForm button {
        width: 12rem;
    }

    .containers {
        display: grid;
        grid-template-columns: 1fr;
        gap: 50px;
        margin-left: 20px;
        min-height: 35rem;
    }
}



/*--------Phone Mode----------*/
@media screen and (max-width:768px){
    
    .container1 {
        display: grid;
        width: 100%;
        gap: 0.5rem;
        grid-template-columns: 0.1rem auto 0.1rem;
/*      grid-template-columns: 1fr;*/
    }
    
    aside .toggle {
        position:fixed;
        top:0;
        left:3px;
        z-index:5;
        width:18rem;
        display:none;
        animation: showMenu 500ms ease forwards;
    }
    @keyframes showMenu{
        to{
            left:0;
        }
    }
    aside .toggle .logo {
        display: flex;
        gap: 2rem;
        justify-content: center;
        align-items: center;
        width: 100%;
            
    }
    aside .toggle .logo h1{
        font-size:1.3rem;
    }
    aside .toggle .logo img{
        width:3.5rem;
        height:2.5rem;
    }
    aside .toggle .close{
        
        display:inline-block;
        cursor:pointer;
    }
    aside .sidebar a h2 {
        display: block;
    }   
    main header .headSection {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
    }
    
    main header .headSection .menu {
        display:block;
    }
    main header .headSection .mode {
        margin-right: 0;

    }
    main header .headSection .mode span {
        padding: 2px;
    }

     main header .headSection .mode h3 {
        margin-right: 5px;
     }

    main .mainSection .addbtn {
        padding:0;
        transform: translateX(30%);
    }

    main .mainSection .addbtn a {
        padding: 5px;
        width:200px;
    }
    main .mainSection .dn {
        display:none;
    }
    main .mainSection .comHead{
        margin-left:7rem;
    }
    main .mainSection .comForm {
        width: 80%;
        padding: 30px;
        margin-left: 90px;
    }
    main .mainSection .comForm input {
        width: 90%;
    }

    /*---Sadece Personnel create edit için----*/
    main .mainSection .perForm {
        margin-left: 10px;
        width: 90%;
        min-height: 50vh;
        padding: 30px;
    }

    main .mainSection .perForm .doubleForm {
        display: flex;
        flex-direction: column;
        
    }
    main .mainSection .perForm button {
        width: 8rem;
        
    }

    .containers {
        display: grid;
        grid-template-columns: 1fr;
        gap: 40px;
        margin-left: 0;
        min-height: 35rem;
    }

    .containers .grid2 .quantity {
        width:85%;
    }
    .containers .grid2 .quantity h2{
       font-size:1.1rem;
    }
    .containers .grid2 .cnt {
        display: flex;
        width: 7rem;
        height: 7rem;
        transition:none;
        color: var(--color-table);
    }
    .containers .tables {
        width:95%;
       
    }
    .containers .tables h2 {
        font-size:1.1rem
    }
    .todolist {
        width: 85%;
       
    }
    .todolist .todo1 textarea {
       width:95%;
    }
    .containers .grid2 .activeAdmin h2 {
        font-size: 1.1rem
    }
}
