@{
    ViewData["Title"] = "Dashboard";
}

<h1>Welcome to Statics</h1>

<div class="containers"> 
    <div class="cnt">
        <h2>Personnel</h2>
        <h2>Number of Current Personnel </h2>
    </div>
    <div class="cnt">
        <h2>Company</h2>
        <h2>Number of Current Company </h2>
    </div>
    <div class="cnt">
        <h2>Admin</h2>
        <h2>Number of Current Admin </h2>
    </div>
</div>
