@{
    ViewData["Title"] = "Dashboard";
}

<h1>Welcome to Statics</h1>

<div class="containers"> 

   <div class="grid1">
        <div class="quantity">
            <h2 style="text-align:center;font-size:1.5rem;">Total Quantity of ... </h2>
            <div class="circles">
                <div class="cnt">
                    <h2>Personnel</h2>
                </div>
                <div class="cnt">
                    <h2>Company</h2>
                </div>
                <div class="cnt">
                    <h2>Admin</h2>
                </div>
            </div>
        </div>

        <div class="tables">
            <h2 class="fontsize">Today Changes</h2>
            <Table>
                <tr>
                    <th>Name</th>
                    <th>Name</th>
                    <th>Name</th>
                </tr>
                <tr>
                    <td>Kerem</td>
                    <td>Kerem</td>
                    <td>Kerem</td>
                </tr>
                <tr>
                    <td>Kerem</td>
                    <td>Kerem</td>
                    <td>Kerem</td>
                </tr>
            </Table>
        </div>
   </div>

    <div class="grid2">
        <div class="activeAdmin">
            <h2 class="fontsize">Active Admin Number</h2>
            <h1>2</h1>
        </div>

        <div class="tables">
            <h2 class="fontsize">Recently Logins</h2>
            <Table>
                <tr>
                    <th>Name</th>
                    <th>Name</th>
                    <th>Name</th>
                </tr>
                <tr>
                    <td>Kerem</td>
                    <td>Kerem</td>
                    <td>Kerem</td>
                </tr>
                <tr>
                    <td>Kerem</td>
                    <td>Kerem</td>
                    <td>Kerem</td>
                </tr>
            </Table>
        </div>
    </div>

</div>

<div class="todolist">
    <h2 class="todolisthead fontsize">To Do List</h2>
    <div class="todo">
        <form class="todo1">
            <textarea name="task" rows="4" cols="40" placeholder="Type a task..."></textarea>
            <button type="submit" class="btn btn-primary">Add</button>
        </form>
        <div class="todo2">
            <h2>Tasks</h2>
            <ol>
                <li>Task1</li>
                <li>Task2</li>
                <li>Task3</li>
                <li>Task4</li>
            </ol>
        </div>
    </div>
</div>