@{
    ViewData["Title"] = "Dashboard";
}

<div>
    <h1>Welcome to Statics</h1>
    <div>
        <h2>Number of Current Personnel </h2>
    </div>
    <div>
        <h2>Number of Current Company </h2>
    </div>
    <div>
        <h2>Number of Current Admin </h2>
    </div>
</div>
